body{
  color: rgba(0, 0, 0, 0.75);
  font-family: sans-serif;
  margin: auto;
  padding: 40px;
}

h1{
  text-align: center;
}
h2{
  text-align: left;
  color: rgba(0, 0, 0, 0.81);
}

p{
  text-align: justify;
}
